.root {
	--cell-size: 16px;

	background-image: url(./map.png);
	display: grid;
	grid-template-columns: repeat(var(--col-count, 70), var(--cell-size));
	grid-template-rows: repeat(var(--row-count, 58), var(--cell-size));
	width: calc(var(--cell-size) * (var(--col-count, 70) - 2));
	height: calc(var(--cell-size) * var(--row-count, 58));
}
