.root {
	--cell-size: 16px;

	background-image: url(./map.png);
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(70, var(--cell-size));
	grid-template-rows: repeat(58, var(--cell-size));
	width: calc(var(--cell-size) * 70);
	height: calc(var(--cell-size) * 58);
}
